<%- include('header.ejs') %>

<div class="container">
  <h2>Products</h2>

  <% if (!user || !user.id) { %>
  <p><a href="/login">Login</a> to access your products</p>
  <% } else { %>

  <!-- ============================================================================================================================== -->

  <div class="search-product custom-section d-flex justify-content-end">
    <form action="/" method="GET" class="search-product">
      <div class="row d-flex justify-content-between align-items-center">
        <div class="col-auto d-flex">
          <input
            type="text"
            class="form-control me-2"
            name="search"
            placeholder="Search..."
            value="<%= query.search || '' %>"
          />

          <select class="form-select me-2" name="tag">
            <option value="">Select Tag</option>
            <option value="work" <%= query.tag === 'tag1' ? 'selected' : '' %>>Work</option>
            <option value="lifestyle" <%= query.tag === 'tag2' ? 'selected' : '' %>>Lifestyle</option>
            <option value="motor" <%= query.tag === 'tag3' ? 'selected' : '' %>>Motor</option>
            <option value="mobile" <%= query.tag === 'tag4' ? 'selected' : '' %>>Mobile</option>
          </select>

          <div class="form-check align-self-center me-3">
            <input class="form-check-input" type="checkbox" value="true"
            id="myPosts" name="myPosts" <%= query.myPosts === "true" ? "checked"
            : "" %> />
            <label class="form-check-label" for="myPosts">
              My Posts
            </label>
          </div>

          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </div>
    </form>
  </div>

  <!-- ============================================================================================================================== -->
  <% 
    const currentPage = Math.floor(skip / limit) + 1;
    const totalPages = Math.ceil(totalProducts / limit);
  %>

  <%- include('pagination.ejs', { baseQuery, skip, limit, totalProducts, currentPage }) %>
  <!-- ============================================================================================================================== -->

  <div class="show-products custom-section">
    <div class="row">
      <% products.forEach(product => { %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <% 
            const isPlaceholder = product.photo === 'placeholder-image.jpg';
            const photoSrc = isPlaceholder ? '/images/placeholder/placeholder-image.jpg' : '/photos/' + product.photo;
          %>
          <img
            src="<%= photoSrc %>"
            class="card-img-top"
            alt="<%= product.name %>"
          />
          <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <p class="card-text">Price: $<%= product.price %></p>
            <p class="card-text">Tag: <%= product.tag %></p>

            <% if (user && user.id && product.owner?._id?.toString() ===
            user.id.toString()) { %>
            <a href="/delete/<%= product._id %>" class="btn btn-danger">
              <i class="bi bi-trash3"></i> Delete
            </a>
            <% } %>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>


  <%- include('pagination.ejs', { baseQuery, skip, limit, totalProducts, currentPage }) %>

  <% } %>
</div>

<%- include('footer.ejs') %>
