<%- include('header.ejs') %>

<div class="container">
  <h2><%= __('Posts')%></h2>

  <% if (!user || !user.id) { %>
  <p><%- __('login_message') %></p>
  <% } else { %>

<!-- search-posts-------------------------------------------------------------------------- -->
<div class="search-post custom-section d-flex justify-content-center">
  <form action="/" method="GET" class="w-100" style="max-width: 1200px;">
    <div class="d-flex w-100 align-items-center gap-2">
          <input 
            type="text"
            class="form-control me-2"
            name="search"
            placeholder=<%= __('Search')%>...
            value="<%= query.search || '' %>"
          />

          <select class="form-select me-2" name="tag">
            <option value=""><%= __('Select a Tag')%></option>
            <option value="work" <%= query.tag === 'tag1' ? 'selected' : '' %>><%= __('Work')%></option>
            <option value="lifestyle" <%= query.tag === 'tag2' ? 'selected' : '' %>><%= __('Lifestyle')%></option>
            <option value="motor" <%= query.tag === 'tag3' ? 'selected' : '' %>><%= __('Motor')%></option>
            <option value="mobile" <%= query.tag === 'tag4' ? 'selected' : '' %>><%= __('Mobile')%></option>
          </select> 
          <button type="submit" class="btn btn-primary"><%= __('Search')%></button>
      </div>
    </form>
  </div>

  <!-- ================================================================ -->
  <%- include('pagination.ejs', { baseQuery, skip, limit, totalposts }) %>
  <!-- ================================================================ -->

  <!-- show-posts---------------------------------------------------------------------------- -->
  <div class="show-posts custom-section">
    <div class="row">
      <% posts.forEach(post => { %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <% 
            const isPlaceholder = post.photo === 'placeholder-image.jpg';
            const photoSrc = isPlaceholder ? '/images/placeholder/placeholder-image.jpg' : '/photos/' + post.photo;
          %>
          <img
            src="<%= photoSrc %>"
            class="card-img-top"
            alt="<%= post.name %>"
          />
          <div class="card-body">
            <h5 class="card-title"><%= post.name %></h5>
            <p class="card-text"><%= __('Price')%>: $<%= post.price %></p>
            <p class="card-text"><%= __('Tag')%>: <%= post.tag %></p>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>

  <!-- ================================================================ -->
  <%- include('pagination.ejs', { baseQuery, skip, limit, totalposts }) %>
  <!-- ================================================================ -->
  <% } %>
</div>

<%- include('footer.ejs') %>
