<%- include('header.ejs') %>

  <h2>Home</h2>

  <div class="container mt-3">
    <div class="row align-items-center">
        <!-- User Name a la izquierda -->
        <div class="col-md-6">
            <span class="fw-bold">User Name</span>
        </div>
        
        <!-- Input de búsqueda a la derecha -->
        <div class="col-md-6 text-end">
            <input type="text" class="form-control w-50 d-inline" placeholder="Search...">
            <button class="btn btn-primary">Search</button>
        </div>
    </div>
</div>

<div class="container mt-3">
  <div class="row text-center">
      <div class="col-3">
          <button class="btn btn-success w-100">ADD</button>     <!-- Verde -->
      </div>
      <div class="col-3">
          <button class="btn btn-danger w-100">DELETE</button>   <!-- Rojo -->
      </div>
      <div class="col-3">
          <button class="btn btn-info text-white w-100">ACCEPT</button>   <!-- Celeste -->
      </div>
      <div class="col-3">
          <button class="btn btn-warning w-100">CANCEL</button>  <!-- Naranjo -->
      </div>
  </div>
</div>

<div class="container mt-5">
  <h1 class="text-center">Productos</h1>
  <p><%= products.photo %></p>

  <div class="row">
      <% products.forEach(products => { %>
          <div class="col-md-4 mb-4">
              <div class="card">
                  <img src="/images/<%= products.photo %>" class="card-img-top" alt="<%= products.name %>">
                  <div class="card-body">
                      <h5 class="card-title"><%= products.name %></h5>
                      <p class="card-text">Precio: $<%= products.price %></p>
                  </div>
              </div>
          </div>
      <% }) %>
  </div>
</div>

  <%- include('footer.ejs') %>